module.exports = {

  // Snap node mac
  node_address : '123456',

  // zerorpc configs
  zrpc : {
    host    : '127.0.0.1',
    port    : '4242'
  },

  // mongodb configs
  mongo : {
    enable : true, 
    host   : '127.0.0.1',
    port   : '27017',
    db     : 'netflix',
    col    : 'twitter'
  },

  twitter : {
    // twitter filter search
    search              : 'lighthsv',

    // filter befre other searchs
    filter              : /[@#]lighthsv/gi,

    // OAuth Keys
    consumer_key        : '',
    consumer_secret     : '',
    access_token_key    : '',
    access_token_secret : ''
  }, 

  // regex to search, snappy function to call, args of snappy script
  searches : [
    { regex: /rainbow/gi, action: 'enterRainbowMode', args: [] },
    { regex: /Roll Tide/gi, action: 'enterTeamMode', args: [ "white", "red"] },
    { regex: /War Eagle/gi, action: 'enterTeamMode', args: [ "orange", "blue"] },
    { regex: /fire/gi, action: 'enterGlitterMode', args: [ "red"] },
    { regex: /([^A-z]|^)blue([^A-z]|$)/gi, action: 'setLightColor', args: [ "blue"] },
    { regex: /([^A-z]|^)cyan([^A-z]|$)/gi, action: 'setLightColor', args: [ "cyan"] },
    { regex: /([^A-z]|^)green([^A-z]|$)/gi, action: 'setLightColor', args: [ "green"] },
    { regex: /([^A-z]|^)magenta([^A-z]|$)/gi, action: 'setLightColor', args: [ "magenta"] },
    { regex: /([^A-z]|^)red([^A-z]|$)/gi, action: 'setLightColor', args: [ "red"] },
    { regex: /([^A-z]|^)white([^A-z]|$)/gi, action: 'setLightColor', args: [ "white"] },
    { regex: /([^A-z]|^)yellow([^A-z]|$)/gi, action: 'setLightColor', args: [ "yellow"] },
//    { regex: /netflix/gi, action: 'somefunc', args: [ "red", "white"] },
  ],

  defaultColors : { 
      blue    : '0000ff',
      cyan    : '00ffff',
      green   : '00ff00',
      magenta : 'ff00ff',
      orange  : 'ff4000',
      red     : 'ff0000',
      white   : 'ffffff',
      yellow  : 'ffff00',
  },
};

